{:paths
 ["src"]

 :deps
 {adjutant {:git/url "https://github.com/bolasblack/adjutant"
            :sha "4fd6015251143fc09732adfd2d8e48c0269220ab"}
  rxcljs {:git/url "https://github.com/bolasblack/rxcljs"
          :sha "fb7891d1b1d6b482bc86f1f3b30488f49491664f"}}

 :aliases
 {:dev {:extra-deps {cider/cider-nrepl {:mvn/version "0.18.0"}}}
  :test {:extra-deps {pjstadig/humane-test-output {:mvn/version "0.8.3"}}
         :extra-paths ["test"]}}}
