{:paths
 ["src"]

 :deps
 {adjutant {:git/url "https://github.com/bolasblack/adjutant"
            :sha "4fd6015251143fc09732adfd2d8e48c0269220ab"}
  rxcljs {:git/url "https://github.com/bolasblack/rxcljs"
          :sha "fa15f4c52804bd386fa0055b9fee8ca28a18ddb8"}}

 :aliases
 {:dev {:extra-deps {cider/cider-nrepl {:mvn/version "0.18.0"}}}
  :test {:extra-deps {pjstadig/humane-test-output {:mvn/version "0.8.3"}}
         :extra-paths ["test"]}}}
